@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=LXGW+WenKai+TC&display=swap');
body,
html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: "Cactus Classical Serif", serif;
    background-color: #FFFAF4;
}


/*header*/
header {
  text-align: center;
  padding: 15px;
  background-color: #41553A;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

nav {
  margin-top: -50px;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  margin-right: 20px;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.top-links {
  display: flex;
  margin-bottom: 30px;
  margin-top: -5px;
  margin-right: 50px;
}

.top-links a {
  margin: 8px;
  text-decoration: none;
}

/* Search box */
.input-group {
  align-items: center;
  margin-top: 32px;
}

.input-group input[type="text"] {
  width: 180px;
  padding: 5px 30px 5px 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.search-box {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: -100px;
}

.search-icon {
  position: relative;
  right: 30px;
  cursor: pointer;
}

.search-icon img {
  width: 16px;
  height: 16px;
  margin-bottom: -4px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 15px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.input-group {
  margin-right: 10px;
}

/* 會員資料 */
.member {
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.block {
  background-color: #B7B597;
  width: 80%;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-style:dotted;
}

.blockword1 {
  color: black;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 5px;
  font-weight: bold;
  margin-top: -30px;
  
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.block2 {
  background-color: #DAD3BE;
  width: 40%;
  padding: 20px 20px; 
  border-radius: 10px;
  margin: 50px 25px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}



.block3{
  background-color: #DAD3BE;
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  margin: 0px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blockword2{
  color: black;
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: bold;
}

.blockword3 {
  color: black;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.form {
  margin-bottom: 15px;
  font-size: 20px;
}

.form2 {
  margin-bottom: 15px;
  font-size: 20px;
  width: 80%; 
  padding: 10px; 
  margin-left: auto; 
  margin-right: auto; 
}


.label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.input {
  width: calc(100% - 20px);
  padding: 8px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input:focus {
  border-color: #818C98;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.modify-button {
  display: block;
  width: 70%;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  background-color: #818C98;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  margin: 30px 57px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modify-button:hover {
  background-color: #0056b3;
}

/*footer*/
footer {
  text-align: center;
  padding: 20px;
  background-color: #41553A;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-weight: bold;
  color: #ede5e5;
}
